[Unit]
Description=Pi Feeder Server
Wants=network-online.target
After=network.target network-online.target

[Service]
User=%i
Type=idle
ExecStart=/bin/sh -c '/usr/bin/python3 /home/pi/pi-feeder/server.py 2>&1 | tee /home/pi/pi-feeder/pifeeder.log'
Restart=always
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
